html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

html * {
  font-family: sans-serif;
}

header {
  height: 45px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 45px;
  color: black;
  box-shadow: 0px 0px 100px 0px #EEEEEE; 
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

header .navbar {
  display: flex;
  gap: 20px;
}

header .left-item {
  padding: 0px 20px;
}
header .right-item {
  padding: 0px 10px;
}

.main-container {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  font-family: sans-serif;
}

.main-container .the-heart-of-tech {
  display: grid;
  width: 95%;
  max-width: 1150px;
  grid-template-columns: 1fr auto;
  height: 181px;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 48px;
}

.main-container .news {
  display: grid;
  max-width: 1535px;
  width: 98%;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  grid-template-rows: repeat(5, 126px);
  grid-template-areas: 
  "one one three five"
  "one one three five"
  "one one four four"
  "two two four four"
  "two two four four";
  gap: 10px 10px;
  padding: 50px 0px;
}

.main-container .news .text {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.main-container .news .big h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.main-container .news .small h2 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
.main-container .news .ad {
  align-items: center;
  justify-content: center;
}
.main-container .news .ad h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.main-container .news .ad button {
  border: 1px solid white;
  color: white;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 100px;
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
}
.main-container .news .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.main-container .news .one {
  grid-area: one;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/google-io.jpeg");
}
.main-container .news .two {
  grid-area: two;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/next_home-promo_tnw2021-1146x372.jpg");
}
.main-container .news .three {
  grid-area: three;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/loseless.jpeg");
}
.main-container .news .four {
  grid-area: four;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/Sonos-Roam_2021-05-18-085631_sftc.jpeg");
}

.main-container .news .five {
  grid-area: five;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/keystrokes.jpeg");
}


.main-container .news img {
  object-fit: cover;
  width: 100%;
}

.main-container .news div {
  background-size: cover;
  background-position: center;
}

/* .main-container .news div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/google-io.jpeg");
  background-size: cover;
} */

.main-container .popular-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;
  background-color: #F7F8F8;
  width: 100%;
  gap: 75px;
}

.main-container .popular-articles .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #a7aab2;
}

.main-container .popular-articles .columns{
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 269px));
  justify-content: center;
  column-gap: 30px;
  width: 98%;
}

.main-container .popular-articles .columns .item {
  display: flex;
  gap: 15px;
}
.main-container .popular-articles .columns .item span {
  font-size: 38px;
  font-weight: 800;
  color: #cc0099;
  font-family: 'Arial Narrow';
}
.main-container .popular-articles .columns .item p {
  font-size: 16px;
  line-height: 24px;
}

/*LATEST STORIES*/

.main-container .latest-stories {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  max-width: 1280px;
  width: 98%;
  align-items: center;
}
.main-container .latest-stories h2 {
  font-size: 40px;
  font-weight: 700;
  align-self: flex-start;
}

.main-container .latest-stories .stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 30px;
  padding: 50px 0px;
}

.main-container .latest-stories .stories .item img {
  object-fit: cover; /*makes the image not distort when the container resizes*/
  width: 100%;
}

.main-container .latest-stories .stories .item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.main-container .latest-stories .stories .item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #a7aab2;
}

.main-container .latest-stories button {
  border: 1px solid #a7aab2;
  color: black;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 100px;
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 600;
  width: 130px;
}

/*LATEST STORIES*/

/*EXPLORE*/
.main-container .explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1520px;
  background-color: #F7F8F8;
  padding: 135px 0px;
  gap: 70px;
}

.main-container .explore h2 {
  font-size: 40px;
  font-weight: 600;
  width: 98%;
}

.main-container .explore .channels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 230px;
  column-gap: 15px;
  width: 98%;
}

.main-container .explore .channels div[class^="item"] {
  width: 100%;
  height: fit-content;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-container .explore .channels div[class^="item"] img {
  width: 120px;
}
.main-container .explore .channels div[class^="item"] span {
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.main-container .explore .channels .item1 {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad");
}
.main-container .explore .channels .item2 {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20")
}
.main-container .explore .channels .item3 {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9")
}
.main-container .explore .channels .item4 {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68")
}
.main-container .explore .channels .item5 {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b")
}
/*EXPLORE*/

/*NEWSLETTER*/

.main-container .newsletter {
  width: 100%;
  height: 335px;
  background-image: url("https://next.tnwcdn.com/assets/next/img/spacesbg.png");
  background-size: 150%;
  background-attachment: fixed; /*keeps the background fixed even when scrolling*/
  background-repeat: no-repeat;
  background-position: 50%;
  display: grid;
  grid-template-columns: min-content;
  padding: 70px 0px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  box-sizing: border-box;
  color: white;
  row-gap: 20px;
}

.main-container .newsletter h2 {
  font-size: 48px;
  font-weight: 600;
  white-space: nowrap;
}

.main-container .newsletter .input-field {
  width: 100%;
  height: 48px;
  position: relative;
}
.main-container .newsletter input {
  width: inherit;
  height: inherit;
  border: none;
  border-radius: 5px;
  padding-left: 35px;
  box-sizing: border-box;
}
.main-container .newsletter .input-field .mail-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}
.main-container .newsletter .input-field .subscribe {
  position: absolute;
  top: 16px;
  right: 10px;
  color: #bdbdbd;
}

.main-container .newsletter .social-icons {
  display: flex;
  gap: 20px;
}

/*/NEWSLETTER*/

/*WORK WITH US*/
.main-container .work-with-us {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "go     go      go    go"
  "work   work    ic    ic"
  "work   work    ic    ic"
  "lo     lo      lo    lo";
}
/*/WORK WITH US*/
